<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question 3</title>

    <style>
        .div_att{
            border: 5px outset lightblue;
            background-color: lightblue;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class='div_att'>
        <h1>DARSHANA MADALANI 1002033083</h1>
        <h1>RACHANA RAMIREDDY 1002028071</h1>
        <h1>Delete Student</h1>
        <form method="post" action="/deleteStudent">
            <div>
                <label>Enter Course Number</label>
                <input type="text" name="cnum"><br><br>
                <label>Enter Section Number</label>
                <input type="text" name="csec"><br><br>
                <h2>OR</h2>
                <label>Enter Stduent ID</label>
                <input type="text" name="sid"><br><br>
                <input type="submit" name="submit"><br><br>
        </form>
    </div>
    <h2>
    {% if msg %}
    {{ msg }}
    {% else %}
    {{ Error_text }}
    {% endif %}
    </h2>
    <table border=1 align='center'>  
        <h1>
            <th>Fname</th>
            <th>Lname</th>
            <th>Course</th>
            <th>Section</th>
            {% for i in data %}
            <tr>
                <td>{{ i.Fname }}</td>
                <td>{{ i.Lname }}</td>
                <td>{{ i.course }}</td>
                <td>{{ i.section}}</td>
            </tr>
            {% endfor %}
    </table>
</body>
</html>