<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv='refresh' content='10; url=./student'>-->
    <style>
        .div_att {
            border: 5px outset lightblue;
            background-color: lightblue;
            text-align: center;
        }
    </style>
</head>

<body>
    <div class='div_att'>
        <h1>DARSHANA MADALANI 1002033083</h1>
        <h1>RACHANA RAMIREDDY 1002028071</h1>
        <h1>Student Onboarding</h1>
        <form method="POST" action="/addStudent">
            <div>
                <label>Enter ID :</label>
                <input type="text" name="id"><br><br>
                <label>Enter First Name :</label>
                <input type="text" name="fname"><br><br>
                <label>Enter Last Name :</label>
                <input type="text" name="lname"><br><br>
                <label>Enter Start Semester</label>
                <input type="text" name="stsem"><br><br>
                <label>Enter Start Year</label>
                <input type="text" name="styear"><br><br>
                <label>Select Supervisor</label>
                <select name="supervisors">
                    {% for choice in choices %}
                    <option value={{ choice }}>
                        {{ choice }}
                    </option>
                    {% endfor %}
                </select><br><br>
                <label>Select Scholarship</label>
                <select name="scholarship">
                    {% for scholarship in scholarships %}
                    <option value={{ scholarship }}>
                        {{ scholarship }}
                    </option>
                    {% endfor %}
                </select><br><br>
                <label>Assign Committee</label>
                <select multiple name="committee">
                    {% for choice in choices %}
                    <option value={{ choice }}>
                        {{ choice }}
                    </option>
                    {% endfor %}
                </select>
                <input type="submit" value="Add"><br><br>
        </form>
    </div>
    {% if msg %}
    {{ msg }}
    {% endif %}

</body>

</html>