<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <style>
        .div_att {
            border: 6px outset lightblue;
            background-color: lightblue;
            width: fit-content;
        }
    </style>
</head>

<body>
    <div>
        <div class='div_att'>
            <h1>DARSHANA MADALANI 1002033083</h1>
            <h1>RACHANA RAMIREDDY 1002028071</h1>
            <h1>Update Payment</h1>
            <form method="POST" action="/updatePay">
                <div>
                    <label>Enter Course ID :</label>
                    <input type="text" name="id"><br><br>
                    <label>Enter Amount :</label>
                    <input type="text" name="amount"><br><br>
                    <input type="submit" value="Update"><br><br>
                </div>
            </form>
        </div>
</body>

</html>